* {
  padding: 0%;
  margin: 5;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}
header{
  color: white;
  text-align: center;
  background-color: black;
}
.name{
  width:100%;
  margin: auto;
  background-color: rgb(207, 196, 205);
  padding: 10px;
}
section{
  border-bottom: 1px;
  padding: 30px auto;
}
img{
  width: 300px;
  height:auto;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}
.from{
 color: #c90d0d;
}