* {
 
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: rgb(223, 224, 226);
}
section{
border-bottom: 1px solid;  
padding: 40px 10px;
}
.name {
  padding: 50px auto;
  height: 100px auto;
  background-color: lightsteelblue;
  text-align: center;
  color: deeppink;
  font-size: 100px;
}
.project{
  width: 150px;
  margin: 10px auto;
  display: block;
  border-radius: 40%;
}
#endex{
  color: rgb(150, 25, 223);
}
a {text-decoration: none;}
.main {
  margin: 10px;
  background-color: rgb(241, 241, 241);

}
.meta {
  display: block;
  margin: 10px 0 ;
  height: 100px; 
  width: 50px; 
  border-radius: ;
}